<div class="vcontainer">
  <iframe runat="server" id="Moviescr" src="https://www.youtube.com/embed/Y274jZs5s7s" frameborder="0" allowfullscreen
    autoplay></iframe>

  <div class="vbutton-container">
    <a href="#" class="vbutton">+Watch List</a>
    <a href="#" class="vbutton">Watch Now</a>
  </div>
</div>

<div>
  <div>
    <h1>Action</h1>
  </div>
  <div>
    <h1>Comady</h1>
  </div>
  <div>
    <h1>Cartoon</h1>
  </div>
  <div>
    <h1>Horror</h1>
  </div>
  <div>
    <h1>Suspenese</h1>
  </div>
</div>
