<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <form id="heroForm" >
      <h1>Welcome to 321 Movies</h1>
      <h2>Unlimited Entertainment at your fingertips</h2>
      <button id="Login" (click)="navpage('/loginpage')" class="btn-get-started">Sign up</button>
      <button id="Signin" class="btn-get-started" >Sign In</button>
    </form>
  </div>
</section>

<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
        <img src="../../../assets/team/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
        <h3 style="color:green">What is 321 Movies?</h3>
        <p class="fst-italic">
          321 Movies provides people with movies that anyone can enjoy at affordable subscriptions! Our movies range
          from comedy to action and everything inbetween.
          Movies such as:
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Award winnering hollywood bangers.</li>
          <li><i class="bi bi-check-circle"></i> Family friendly movies that the whole family can enjoy.</li>
          <li><i class="bi bi-check-circle"></i> Romance flicks to keep your heart warm during winter:)</li>
        </ul>
        <p>
          Welcome to 321 Movies! Here, you can enjoy a vast library of movies from the comfort of your own home.
          Our website offers a user-friendly interface that allows you to easily search and browse through our
          collection of films by genre or year.
          Whether you're in the mood for an action-packed blockbuster, a heartwarming romance, or a spine-chilling
          horror movie, we have something for everyone.
          Plus, our website is accessible on all devices, so you can enjoy your favorite movies and TV shows on your
          desktop, laptop, tablet, or smartphone. So sit back, relax, and let us take you on a cinematic journey with
          our high-quality streaming service.
        </p>
      </div>
    </div>

  </div>
</section>

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="zoom-in">

    <div class="row d-flex align-items-center">

      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/clients/dc-comics.png" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/clients/DreamWorks.png" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/clients/lucasfilm.png" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/clients/Marvel.png" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/clients/pixar.jpg" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/clients/universal studios.png" class="img-fluid" alt="" />
      </div>


    </div>

  </div>
</section><!-- End Clients Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">


  </div>
</section><!-- End Cta Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <span>Team</span>
      <h2>Team</h2>
      <p>Meet the team behind 321 Movies</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="member">
          <img src="../../../assets/team/BattyImage.jpg" class="teamImages" alt="">
          <h4>Loius Batty</h4>
          <span>Project Leader</span>

          <div class="social">
            <a href="https://www.instagram.com/louis_degen/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="member">
          <img src="../../../assets/team/TadiImage.jpg" class="teamImages" alt="">
          <h4>Tadiwanshe Chingwe</h4>
          <span>Full-Stack Developer</span>
          <div class="social">
            <a href="https://www.instagram.com/tadi_chingwe/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="member">
          <img src="../../../assets/team/JoseImage.jpg" class="teamImages" alt="">
          <h4>Jose Hyman</h4>
          <span>Full-Stack Developer</span>
          <p>
          <div class="social">
            <a href="https://www.instagram.com/jose_hyman/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="../../../assets/team/RapudiImage.jpg" class="teamImages" alt="">
            <h4>Rapudi Hlakudi</h4>
            <span>Full-Stack Developer</span>
            <div class="social">
              <a href="https://www.instagram.com/jp_hlakudi/"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="../../../assets/team/AyushImage.jpg" class="teamImages" alt="">
            <h4>Ayush Bhadra</h4>
            <span>Database Designer</span>

            <div class="social">
              <a href="https://www.instagram.com/bhdr._.a/"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="../../../assets/team/EdwinImage.jpg" class="teamImages" alt="" />
            <h4>Edwin Malaji</h4>
            <span>Databse Designer</span>
            <div class="social">
              <a href="https://www.instagram.com/t._.edwin/"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>

